h3{
    color:#007bff;
}
h5{
    color:rgb(72, 106, 174);
}
body{
    font-family:'Times New Roman', Times, serif;
}

.navbar-brand
{
    position: relative;
    background: url(https://tslhr.tatasteel.co.in/recruit/);
    width: 170px;
    left: 10%;
    max-height: 70px; /* height of the navbar */
}
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  
.mktoForm .mktoButtonWrap {
  margin-left: 0px !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }
  
  .mktoButtonRow {
  display: flex;
  }
  